<!DOCTYPE html>
<html>
    <head>
        <title>GitHub Repositories</title>
    </head>
    <body>
        <h1>Hello {{ username }}</h1>
        <h2>Printing repos:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Updated</th>
                    <th>Commit Hash</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Commit Message</th>

                </tr>
            </thead>
            <tbody>
                {% for item in repo_commits %}
                    <tr>
                        <td>{{ item.repo.full_name }}</td>
                        <td>{{ item.repo.updated_at }}</td>
                        <td>{{ item.commit.sha }}</td>
                        <td>{{ item.commit.commit.author.name }}</td>
                        <td>{{ item.commit.commit.author.date }}</td>
                        <td>{{ item.commit.commit.message }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>