<!DOCTYPE html>
<html>
    <head>
        <title>GitHub Repositories</title>
    </head>
    <body>
        <h1>Hello {{ username }}</h1>
        <h2>Printing repos:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for repo in github_repos %}
                    <tr>
                        <td>{{ repo.full_name }}</td>
                        <td>{{ repo.updated_at }}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>